<!DOCTYPE html>
<html>
<head>
  <title>Advanced Email Template</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://via.placeholder.com/300x300" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-md-6">
        <h1>Welcome to our website!</h1>
        <p>We're excited to have you as a new user. To get started, please click the button below to verify your email address.</p>
        <a href="#" class="btn btn-primary">Verify Email</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna sit amet aliquam bibendum, magna velit fermentum velit, vel tempor velit metus vel velit.</p>
      </div>
      <div class="col-md-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna sit amet aliquam bibendum, magna velit fermentum velit, vel tempor velit metus vel velit.</p>
      </div>
      <div class="col-md-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna sit amet aliquam bibendum, magna velit fermentum velit, vel tempor velit metus vel velit.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright © 2022 My Website</p>
        <p>
          <a href="#">Unsubscribe</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
